# Ignorar pastas de ambiente virtual
venv/
.env/
env/

# Ignorar checkpoints do Jupyter
.ipynb_checkpoints/

# Ignorar arquivos grandes de dados
*.csv
*.json
*.sqlite

venv/
.ipynb_checkpoints/
__pycache__/
*.pyc
